html {
  font-size: 1vw;
  font-family: 'Unbounded', cursive;
}

body {
  width: 100vw;
  color: #ffae00;
  background-size: 100%;
  background-image: url(../imagens/background.jpg);
  background-repeat: no-repeat;
}

header {
  height: 15vh;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  padding: 5vh 0 0 0;
  text-shadow: 0.2rem 0.2rem 0.5rem rgb(236, 92, 8);
}

.tela-bem-vindo {
  display: grid;
  grid-template-columns: 70rem;
  grid-template-rows: 16rem 16rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 15rem;
  background-color: rgba(48, 48, 48, 0.900);
  border-radius: 1rem;
}

.instrucoes {
  grid-area: 1 / 1 / 2 / 2;
  line-height: 2rem;
  font-size: 1.2rem;
  padding: 1rem 3rem;
}

.input-nome-jogador {
  grid-area: 2 / 1 / 3 / 2;
  font-size: 1.4rem;
  padding: 1rem 0 0 8rem;
}

#input-nome {
  width: 20rem;
  height: 3rem;
  margin: 1rem;
  padding: 0 1rem;
  background: rgb(226, 194, 134);
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

#button-nome,
#button-revanche,
#button-desistir {
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  background: rgb(2, 134, 53);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.6rem;
  transition: 1s all;
  cursor: pointer;
}

.tela-jogo {
  display: none;
  grid-template-columns: 26rem 18rem 26rem;
  grid-template-rows: 4rem 6rem 11rem 11rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 15rem;
  background-color: rgba(48, 48, 48, 0.900);
  border-radius: 1rem;
}

.boa-sorte {
  grid-area: 1 / 1 / 2 / 4;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.escolha-partidas {
  grid-area: 2 / 1 / 3 / 4;
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
}

.objeto-jogador {
  grid-area: 3 / 1 / 4 / 2;
  padding: 1rem 1rem;
  text-align: right;
}

.objeto-jogador li {
  display: inline-block;
  width: 7rem;
  padding: 1rem 0.4rem;
}

.info-painel {
  grid-area: 3 / 2 / 4 / 3;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0;
  background-color: rgba(72, 72, 73, 0.434);
  border-radius: 2rem;
}

.objeto-computador {
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
  justify-self: left;
  flex-direction: column;
  padding: 1rem 1rem;
}

.objeto-computador img {
  width: 7rem;
  height: 7rem;
  padding: 0.5rem;
}

.placar {
  grid-area: 4 / 1 / 5 / 3;
  font-style: italic;
  font-size: 1.6rem;
  text-align: right;
  padding: 3rem 15rem 0 0;
}

.buttons {
  grid-area: 4 / 3 / 5 / 4;
  padding: 3rem 0 0 0;
}

.tela-fim {
  display: none;
  grid-template-columns: 70rem;
  grid-template-rows: 32rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 15rem;
  background-color: rgba(48, 48, 48, 0.900);
  border-radius: 1rem;
}

.agradecimento {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  padding: 7rem;
  font-size: 2rem;
  line-height: 3rem;
}

.attribution {
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  padding: 1rem 2rem 0 0;
}

.attribution img {
  width: 2%;
}